<%- include('./base/header.ejs') %>
<div class="container">
    <div class="alert bg-light my-3">
      <h4 class="text-center" style="color:black">Welcome Admin</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <table class="table text-center">
            <thead>
                <tr>
                   <th>Email Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Mobile No</th>
                   <th>Created_at</th>
                   <th>Action</th>
                   <th>Action</th>
                </tr>
            </thead>
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%= student.emailId %></td>
                    <td><%= student.firstName %></td>
                    <td><%= student.lastName %></td>
                    <td><%= student.mobileNo %></td>
                    <td><%= student.createdAt %></td>
                    <td><a href="/student/edit/page/<%= student._id %>" class="btn btn-warning w-40">edit</a></td>
                    <td><a href="/delete/student/<%= student._id %>" class="btn btn-danger w-40">delete</a></td>
                </tr>

           <% }) %>
        </table>
    </div>
  </div>

<%- include('./base/footer.ejs') %>